body {
    background-color: darkgreen;
    margin: 0;
}

.loading-weather {
    visibility: hidden;
}

header {
    background-color: crimson;
}

.container-fluid {
    margin-top: 1em;
}

.loading-weather {
    margin-top: 0;
}
.prev-searches {
    margin-top: 2em;
}

.time-card {
    /* margin-right: 1em; */
}

h1 {
    font-family: 'Merriweather', serif;
}

.card {
    margin: 0.5em;
}