body {
    background-color: darkgreen;
    margin: 0;
}

.loading-weather {
    visibility: hidden;
}

header {
    background-color: crimson;
}

.container-fluid {
    margin-top: 1em;
}

.loading-weather {
    margin-top: 0;
}
.prev-searches {
    margin-top: 2em;
    padding-left: 1em;
}

.time-card {
    /* margin-right: 1em; */
}

h1, .current-conditions {
    font-family: 'Merriweather', serif;
}

.card {
    margin: 0.5em;
}

.current-conditions {
    font-size: large;
}

.jumbotron {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.current-weather-icon {
    display: inline;
    position: relative;
    top: -1rem;
}

.currentCityTitle {
    display: inline;
}
